In [61]:
import pandas as pd
import numpy as np
import requests
import warnings
import time
import re

from collections import Counter
from bs4 import BeautifulSoup
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('main_task.csv')

Описание столбцов
1. Restaurant_id — идентификационный номер ресторана;
2. City — город, в котором находится ресторан;
3. Cuisine Style — стиль или стили, к которым можно отнести блюда, предлагаемые в ресторане;
4. Ranking — место, которое занимает данный ресторан среди всех ресторанов своего города;
5. Rating — рейтинг ресторана по данным TripAdvisor (именно это значение должна будет предсказывать модель);
6. Price Range — диапазон цен в ресторане;
7. Number of Reviews — количество отзывов о ресторане;
8. Reviews — данные о двух отзывах, которые отображаются на сайте ресторана;
9. URL_TA — URL страницы ресторана на TripAdvosor;
10. ID_TA — идентификатор ресторана в базе данных TripAdvisor.

In [4]:
data.head(10)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
5,id_1418,Oporto,NaN,1419.0,3.0,NaN,2.0,"[['There are better 3 star hotel bars', 'Amazi...",/Restaurant_Review-g189180-d12503536-Reviews-D...,d12503536
6,id_1720,Milan,"['Italian', 'Pizza']",1722.0,4.0,$,50.0,"[['Excellent simple local eatery.', 'Excellent...",/Restaurant_Review-g187849-d5808504-Reviews-Pi...,d5808504
7,id_825,Bratislava,['Italian'],826.0,3.0,NaN,9.0,"[['Wasting of money', 'excellent cuisine'], ['...",/Restaurant_Review-g274924-d3199765-Reviews-Ri...,d3199765
8,id_2690,Vienna,NaN,2692.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g190454-d12845029-Reviews-G...,d12845029
9,id_4209,Rome,"['Italian', 'Pizza', 'Fast Food']",4210.0,4.0,$,55.0,"[['Clean efficient staff', 'Nice little pizza ...",/Restaurant_Review-g187791-d8020681-Reviews-Qu...,d8020681

In [5]:
# посмотрим на заполнение стобцов
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
Restaurant_id        40000 non-null object
City                 40000 non-null object
Cuisine Style        30717 non-null object
Ranking              40000 non-null float64
Rating               40000 non-null float64
Price Range          26114 non-null object
Number of Reviews    37457 non-null float64
Reviews              40000 non-null object
URL_TA               40000 non-null object
ID_TA                40000 non-null object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

9283 строки не содержат информацию о стиле/стилях кухни ресторанов (23,2% от количества объектов), 13886 строк не содержат информацию о диапазоне цен (34,7%), 2543 строки не содержат информации о количестве отзывов (6,3%)

In [12]:
reviews_without_number = data[data['Number of Reviews'].isnull()]
reviews_without_number.head(10)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
8,id_2690,Vienna,NaN,2692.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g190454-d12845029-Reviews-G...,d12845029
21,id_5844,Madrid,NaN,5847.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g187514-d10058810-Reviews-B...,d10058810
32,id_1327,Budapest,NaN,1328.0,5.0,NaN,NaN,"[['Absolutely amazing, tasty, fresh, cheap Ch....",/Restaurant_Review-g274887-d8791087-Reviews-Bu...,d8791087
102,id_1409,Budapest,"['French', 'European', 'Hungarian']",1410.0,5.0,NaN,NaN,"[[], []]",/Restaurant_Review-g274887-d13197631-Reviews-L...,d13197631
108,id_2047,Prague,"['Italian', 'Mediterranean']",2050.0,5.0,$$ - $$$,NaN,"[[], []]",/Restaurant_Review-g274707-d12243659-Reviews-T...,d12243659
167,id_8305,Paris,NaN,8306.0,5.0,NaN,NaN,"[[], []]",/Restaurant_Review-g187147-d13284434-Reviews-S...,d13284434
180,id_5023,Berlin,NaN,5025.0,4.0,NaN,NaN,"[['Free Wi-Fi, Peaceful, Pleasant'], ['01/19/2...",/Restaurant_Review-g187323-d12068247-Reviews-K...,d12068247
183,id_3566,Berlin,['Italian'],3568.0,5.0,NaN,NaN,"[['Wonderful ambiance, delicious food, fantas....",/Restaurant_Review-g187323-d2424319-Reviews-Fo...,d2424319
187,id_2847,Lisbon,NaN,2850.0,4.0,NaN,NaN,[['Affordable little cafe in the middle of Al....,/Restaurant_Review-g189158-d13139218-Reviews-C...,d13139218
199,id_16034,London,NaN,16046.0,2.0,NaN,NaN,"[[], []]",/Restaurant_Review-g186338-d7243246-Reviews-Yu...,d7243246

Оказывается, как видно, тексты отзывов есть не у всех ресторанов, но некоторые значения в столбце Reviews заполнены пустыми списками, что не равняется NaN. Можно будет заполнить отсутствующее значение в ячейке Number of Reviews для ресторанов, у которых есть список отзывов, взяв его длину. Для остальных заполнить значения нулями (как вариант, тут может измениться логика, пока не проходил дальше по заданиям)

Еще посмотрим на значения диапазона цен и рейтинга

In [27]:
print('Price range values = {}'.format(data['Price Range'].unique()))
print('Rating interval = {}'.format(data['Rating'].value_counts(bins=1).index[0]))
print('Rating values = {}'.format(data['Rating'].unique()))

Price range values = ['$$ - $$$' nan '$$$$' '$']
Rating interval = (0.995, 5.0]
Rating values = [ 3.5  4.   4.5  5.   3.   2.5  2.   1.   1.5]

##  Задание

<b>Из постановки задачи: мы должны использовать в модели датафрейм, содержащий только количественные признаки и не содержащий None-значений. На первом этапе для создания такого датафрейма давайте просто удалим столбцы, содержащие данные типа object, и заполним пропущенные значения (None или NaN) каким-то одним значением (нулём или средним арифметическим) для  всего столбца.<b>

Таким образом, удалим столбцы типа object, убедимся, что количество отзывов и место ресторана - целые значения и заполним нолями пропуски в столбце количества отзывов. Сохраним все в отдельную переменную task_df

In [43]:
# проверим, что количество отзывов и места - целые числа
number_of_reviews = data['Number of Reviews'].dropna().apply(lambda x: x.is_integer())
ranking = data['Ranking'].dropna().apply(lambda x: x.is_integer())

print(number_of_reviews.unique(), ranking.unique())

[ True] [ True]

In [9]:
task_df = data.drop(labels=['Restaurant_id','City','Cuisine Style','Price Range','Reviews','URL_TA','ID_TA'], axis=1).fillna(0)

In [24]:
# Убедимся, что не осталось пропущенных значений
values = task_df.isnull().values
values[values == True].size

0

In [25]:
# Итоговый датафрейм
task_df.head()

   Ranking  Rating  Number of Reviews
0   5570.0     3.5              194.0
1   1537.0     4.0               10.0
2    353.0     4.5              688.0
3   3458.0     5.0                3.0
4    621.0     4.0               84.0

Применим базовую модель из ноутбука you_first_model

In [37]:
X = task_df.iloc[:, [0, 2]]
y = task_df.iloc[:, 1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [38]:
regr = RandomForestRegressor(n_estimators=100)
regr.fit(X_train, y_train)
y_pred = regr.predict(X_test)

print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.4316716077380952

Метрика MAE приняла значение 0.43. Учитывая, что рейтинг изменяется в интервале от 1 до 5 с шагом 0.5 (Rating values = [ 3.5  4.   4.5  5.   3.   2.5  2.   1.   1.5]), отклонение получилось довольно существенным. Очевидно, что нужно вводить больше признаков.

### Функции для обработки данных

In [46]:
SITE = 'https://www.tripadvisor.com'

In [3]:
# Преобразование строкового представления списка в list (для признака "стили кухни")
def cuisines_to_list(string):
    return string.strip('[]').split(', ')

In [43]:
# Извлечение дат из значений признака Reviews
def get_dates(string):
    # [0-9|/]+
    pattern = re.compile('[0-9]{2}/[0-9]{2}/[0-9]{4}')
    dates = pattern.findall(string)
    
    if dates == []:
        return [np.nan] * 2
    elif len(dates) == 1:
        return dates + [np.nan]
    
    return dates

In [115]:
# Преобразование строкового представления списков в list (для признака Reviews)
def reviews_to_list(string, dates=False):
    pattern = re.compile('\'[^\']+\'')
    reviews = [word[1:-1] for word in pattern.findall(string)]
    
    if reviews == []:
        return [np.nan] * 2
    
    if dates:
        return reviews[-2:] if len(reviews) == 4 else [reviews[-1], np.nan]
    else:
        return reviews[:2] if len(reviews) == 4 else [reviews[0], np.nan]

In [87]:
def get_price_range_from_site(df):
    result = pd.Series()
    pattern = re.compile('\$\$ - \$\$\$|\$+')
    filtered_df = df[df['Price Range'].isnull()]
    
    for i in range(filtered_df.shape[0]):
        time.sleep(2)
        response = requests.get(SITE + filtered_df.iloc[i]['URL_TA'], verify=False)
        page = BeautifulSoup(response.text, 'html.parser')
        string = page.find(class_='header_links')
        print('url = {}\nstring = {}'.format(filtered_df.iloc[i]['URL_TA'], string))
        
        if string is None:
            continue
        
        pr = pattern.findall(string.text)
        print('pr = {}\n'.format(pr))
        
        if pr != []:
            filtered_df.iloc[i]['Price Range'] = pr[0]
        else:
            continue
    
    return filtered_df['Price Range']

## Наполнение выборки данными

In [12]:
# Сколько городов представлено в наборе данных?
data['City'].nunique()

31

In [8]:
data['City'].unique()

array(['Paris', 'Stockholm', 'London', 'Berlin', 'Munich', 'Oporto',
       'Milan', 'Bratislava', 'Vienna', 'Rome', 'Barcelona', 'Madrid',
       'Dublin', 'Brussels', 'Zurich', 'Warsaw', 'Budapest', 'Copenhagen',
       'Amsterdam', 'Lyon', 'Hamburg', 'Lisbon', 'Prague', 'Oslo',
       'Helsinki', 'Edinburgh', 'Geneva', 'Ljubljana', 'Athens',
       'Luxembourg', 'Krakow'], dtype=object)

In [11]:
# Сколько ресторанов расположены в столичных городах?
data.query('City not in ["Munich", "Oporto", "Milan", "Barcelona", "Zurich", "Lyon", "Hamburg", "Geneva", "Krakow"]').shape[0]

30424

In [5]:
# Сколько типов кухонь представлено в наборе данных?
all_cuisines = set()

for cuisine in data['Cuisine Style'].dropna():
    all_cuisines.update(cuisine.strip('[]').split(', '))
    
len(all_cuisines)

125

In [33]:
# Какая кухня представлена в наибольшем количестве ресторанов? Введите название кухни без кавычек или апострофов.
c = Counter()

for cuisines in data['Cuisine Style'].dropna():
    for cuisine in cuisines.strip('[]').split(', '):
        c[cuisine.strip("\'")] += 1
        
print(c)

Counter({'Vegetarian Friendly': 11189, 'European': 10060, 'Mediterranean': 6277, 'Italian': 5964, 'Vegan Options': 4486, 'Gluten Free Options': 4113, 'Bar': 3297, 'French': 3190, 'Asian': 3011, 'Pizza': 2849, 'Spanish': 2798, 'Pub': 2449, 'Cafe': 2325, 'Fast Food': 1705, 'British': 1595, 'International': 1584, 'Seafood': 1505, 'Japanese': 1464, 'Central European': 1393, 'American': 1315, 'Sushi': 1156, 'Chinese': 1145, 'Portuguese': 1107, 'Indian': 1041, 'Middle Eastern': 782, 'Thai': 743, 'Wine Bar': 697, 'German': 662, 'Healthy': 620, 'Greek': 604, 'Halal': 598, 'Czech': 595, 'Fusion': 577, 'Steakhouse': 573, 'Barbecue': 555, 'Contemporary': 523, 'Vietnamese': 513, 'Eastern European': 496, 'Soups': 494, 'Grill': 490, 'Gastropub': 471, 'Mexican': 445, 'Turkish': 444, 'Delicatessen': 392, 'Austrian': 380, 'South American': 372, 'Polish': 365, 'Hungarian': 352, 'Scandinavian': 342, 'Lebanese': 329, 'Latin': 302, 'Diner': 295, 'Dutch': 294, 'Irish': 284, 'Belgian': 270, 'Street Food': 263, 'Brew Pub': 225, 'Swiss': 178, 'Danish': 177, 'Swedish': 171, 'Argentinean': 169, 'Korean': 167, 'Scottish': 163, 'African': 154, 'Moroccan': 141, 'Central American': 135, 'Brazilian': 127, 'Pakistani': 123, 'Peruvian': 94, 'Caribbean': 93, 'Nepali': 83, 'Balti': 83, 'Bangladeshi': 76, 'Norwegian': 75, 'Israeli': 74, 'Slovenian': 68, 'Indonesian': 59, 'Russian': 58, 'Persian': 53, 'Arabic': 51, 'Kosher': 48, 'Ethiopian': 42, 'Venezuelan': 40, 'Malaysian': 31, 'Croatian': 27, 'Jamaican': 25, 'Sri Lankan': 25, 'Tibetan': 24, 'Australian': 24, 'Cuban': 23, 'Taiwanese': 22, 'Afghani': 22, 'Hawaiian': 21, 'Tunisian': 21, 'Egyptian': 20, 'Colombian': 20, 'Cambodian': 20, 'Cajun & Creole': 20, 'Singaporean': 19, 'Ukrainian': 18, 'Southwestern': 17, 'Georgian': 17, 'Mongolian': 14, 'Armenian': 14, 'Central Asian': 12, 'Filipino': 12, 'Minority Chinese': 11, 'Romanian': 10, 'Chilean': 8, 'Albanian': 8, 'New Zealand': 6, 'Uzbek': 5, 'Canadian': 5, 'Ecuadorean': 4, 'Caucasian': 4, 'Native American': 4, 'Polynesian': 2, 'Azerbaijani': 2, 'Fujian': 2, 'Welsh': 2, 'Salvadoran': 1, 'Yunnan': 1, 'Xinjiang': 1, 'Burmese': 1, 'Latvian': 1})

In [43]:
# Какое среднее количество кухонь предлагается в одном ресторане?
# Если в данных отсутствует информация о типах кухонь, то считайте, что в этом ресторане предлагается только один тип кухни. 
# Ответ округлите до одного знака после запятой.

cuisines = data.loc[:, 'Cuisine Style'].fillna('[Vegetarian Friendly]')
cuisines = cuisines.apply(lambda x: cuisines_to_list(x))

cuisines_in_all_restaurants = []

for cuisine in cuisines:
    cuisines_in_all_restaurants.append(len(cuisine))

print(np.mean(cuisines_in_all_restaurants))

2.6224

In [34]:
reviews = data.loc[:, 'Reviews']
reviews_dates = reviews.apply(lambda x: get_dates(x))

dates_df = pd.concat([pd.Series([date[0] for date in reviews_dates]),
                      pd.Series([date[1] for date in reviews_dates])], axis=1)

dates_df.columns = ['FRDate', 'SRDate']
dates_df['FRDate'] = pd.to_datetime(dates_df['FRDate'])
dates_df['SRDate'] = pd.to_datetime(dates_df['SRDate'])

dates_df.head()

      FRDate     SRDate
0 2017-12-31 2017-11-20
1 2017-07-06 2016-06-19
2 2018-01-08 2018-01-06
3        NaT        NaT
4 2017-11-18 2017-02-19

In [40]:
dates_df['Days Delta'] = dates_df['FRDate'] - dates_df['SRDate']
dates_df[dates_df['Days Delta'] == dates_df['Days Delta'].max()]

         FRDate     SRDate Days Delta
7990 2016-10-02 2007-12-22  3207 days

In [42]:
# Когда был оставлен самый свежий отзыв?
print(dates_df['FRDate'].max(), dates_df['SRDate'].max())

2018-02-26 00:00:00 2018-02-26 00:00:00

In [63]:
reviews_to_list("[['Fresh, hot, wonderful dumplings!'], ['03/19/2017']]", False)

['Fresh', 'hot']

In [84]:
"[['Fresh, hot, wonderful dumplings!'], ['03/19/2017']]"[1:-1]#.replace('[', '').replace(']', '').split('\', \'')

"['Fresh, hot, wonderful dumplings!'], ['03/19/2017']"

In [18]:
#(\'\d\d\/\d\d\/\d\d\d\d\')
#(\'[^\']+\')|(\"\".*\"\")
#(\'[^\']+\')|(""(?:[^"\\]++|\\.)*+"")|(\"\".*\"\")
pattern = re.compile('[0-9]{2}/[0-9]{2}/[0-9]{4}')

In [19]:
pattern.findall("[['Great selection of Portugese cuisine. Grea...', 'New year 2017/18'], ['01/03/2018', '12/31/2017']]")

['01/03/2018', '12/31/2017']

Итак, наполним основной датафрейм данными. Для начала признак Price Range переведем в текстовое представление по ценовому диапазону. Заменим значения в столбце, а диапазон зададим значениями low, middle, high. Перед этим попробуем сделать запрос на сайт TripAdvisor и для ресторанов, у которых нет ценового диапазона, получить его

In [6]:
data.iloc[1].URL_TA

'/Restaurant_Review-g189852-d7992032-Reviews-Buddha_Nepal-Stockholm.html'

In [89]:
url = 'https://www.tripadvisor.com'
response = requests.get('https://www.tripadvisor.com/Restaurant_Review-g190454-d12556149-Reviews-Ra_mien-Vienna.html',
                         verify=False)

page = BeautifulSoup(response.text, 'html.parser')
string = page.find(class_='header_links')

In [90]:
string

<div class="header_links"><a href="/Restaurants-g190454-Vienna.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g190454-c3-Vienna.html">Asian</a>, <a href="/Restaurants-g190454-c11-Vienna.html">Chinese</a>, <a href="/Restaurants-g190454-c22-Vienna.html">International</a></div>

In [91]:
pattern = re.compile('\$\$ - \$\$\$|\$+')
pattern.findall(string.text)

['$$ - $$$']

In [88]:
%timeit
t_df = data.copy()
pr = get_price_range_from_site(t_df)

url = /Restaurant_Review-g189852-d7992032-Reviews-Buddha_Nepal-Stockholm.html
string = <div class="header_links"><a href="/Restaurants-g189852-Stockholm.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g189852-c3-Stockholm.html">Asian</a>, Nepali</div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g187323-d1358776-Reviews-Esplanade-Berlin.html
string = None
url = /Restaurant_Review-g189180-d12503536-Reviews-Dick_s_Bar-Porto_Porto_District_Northern_Portugal.html
string = <div class="header_links"><a href="/Restaurants-g189180-Porto_Porto_District_Northern_Portugal.html?pid=6">$$ - $$$</a>, Bar, <a href="/Restaurants-g189180-c18-Porto_Porto_District_Northern_Portugal.html">European</a>, <a href="/Restaurants-g189180-c10680-Porto_Porto_District_Northern_Portugal.html">Portuguese</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g274924-d3199765-Reviews-Ristorante_Italiano_San_Cono-Bratislava_Bratislava_Region.html
string = <div class="header_links"><a href="/Restaurants-g274924-c26-Bratislava_Bratislava_Region.html">Italian</a></div>
pr = []

url = /Restaurant_Review-g190454-d12845029-Reviews-Grunstern-Vienna.html
string = <div class="header_links"><a href="/Restaurants-g190454-c8-Vienna.html">Cafe</a>, <a href="/Restaurants-g190454-c18-Vienna.html">European</a></div>
pr = []

url = /Restaurant_Review-g187497-d10696479-Reviews-Restaurant_El_Plaer-Barcelona_Catalonia.html
string = <div class="header_links"><a href="/Restaurants-g187497-Barcelona_Catalonia.html?pid=1">$</a>, <a href="/Restaurants-g187497-c36-Barcelona_Catalonia.html">Spanish</a></div>
pr = ['$']

url = /Restaurant_Review-g187323-d10266473-Reviews-Akira_Sushi_Streetfood-Berlin.html
string = <div class="header_links"><a href="/Restaurants-g187323-Berlin.html?pid=1">$</a>, <a href="/Restaurants-g187323-c27-Berlin.html">Japanese</a>, <a href="/Restaurants-g187323-c3-Berlin.html">Asian</a>, <a href="/Restaurants-g187323-c39-Berlin.html">Thai</a></div>
pr = ['$']

url = /Restaurant_Review-g187514-d10058810-Reviews-Bar_Restaurante_El_Diezy7-Madrid.html
string = None
url = /Restaurant_Review-g187514-d10060659-Reviews-Gaditaun-Madrid.html
string = <div class="header_links"><a href="/Restaurants-g187514-Madrid.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g187514-c36-Madrid.html">Spanish</a>, Wine Bar</div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g274887-d11616946-Reviews-Pajtas_Onkiszolgalo_Etterem-Budapest_Central_Hungary.html
string = None
url = /Restaurant_Review-g187147-d2040769-Reviews-Le_Paradis-Paris_Ile_de_France.html
string = None
url = /Restaurant_Review-g187514-d5776152-Reviews-Argayo-Madrid.html
string = <div class="header_links"><a href="/Restaurants-g187514-Madrid.html?pid=1">$</a>, <a href="/Restaurants-g187514-c36-Madrid.html">Spanish</a></div>
pr = ['$']

url = /Restaurant_Review-g189541-d11841754-Reviews-Cafe_Phenix-Copenhagen_Zealand.html
string = <div class="header_links"><a href="/Restaurants-g189541-Copenhagen_Zealand.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g189541-c2-Copenhagen_Zealand.html">American</a>, Diner, <a href="/Restaurants-g189541-c8-Copenhagen_Zealand.html">Cafe</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g274887-d8791087-Reviews-Bunny_Chinese_Fast_Food-Budapest_Central_Hungary.html
string = None
url = /Restaurant_Review-g187265-d3543959-Reviews-Vietnam_City-Lyon_Rhone_Auvergne_Rhone_Alpes.html
string = <div class="header_links"><a href="/Restaurants-g187265-c41-Lyon_Rhone_Auvergne_Rhone_Alpes.html">Vietnamese</a></div>
pr = []

url = /Restaurant_Review-g187849-d12447161-Reviews-Le_Biciclette_Art_Bar_Bistrot-Milan_Lombardy.html
string = <div class="header_links"><a href="/Restaurants-g187849-Milan_Lombardy.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g187849-c26-Milan_Lombardy.html">Italian</a>, Bar, <a href="/Restaurants-g187849-zfz10665-Milan_Lombardy.html">Vegetarian Friendly</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g189158-d5981466-Reviews-Aya_Bistrot-Lisbon_Lisbon_District_Central_Portugal.html
string = <div class="header_links"><a href="/Restaurants-g1022768-Almada_Setubal_District_Alentejo.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g1022768-c27-Almada_Setubal_District_Alentejo.html">Japanese</a>, <a href="/Restaurants-g1022768-c38-Almada_Setubal_District_Alentejo.html">Sushi</a>, <a href="/Restaurants-g1022768-c3-Almada_Setubal_District_Alentejo.html">Asian</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g186338-d7276832-Reviews-Duke_of_Wellington-London_England.html
string = <div class="header_links">Bar, <a href="/Restaurants-g186338-c18-London_England.html">European</a>, <a href="/Restaurants-g186338-c7-London_England.html">British</a>, Pub</div>
pr = []

url = /Restaurant_Review-g187514-d12550964-Reviews-Ginos_Monforte_de_Lemos_193-Madrid.html
string = <div class="header_links"><a href="/Restaurants-g187514-Madrid.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g187514-c26-Madrid.html">Italian</a>, <a href="/Restaurants-g187514-c28-Madrid.html">Mediterranean</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g189541-d5408595-Reviews-China-Copenhagen_Zealand.html
string = <div class="header_links"><a href="/Restaurants-g189541-Copenhagen_Zealand.html?pid=1">$</a>, <a href="/Restaurants-g189541-c11-Copenhagen_Zealand.html">Chinese</a>, <a href="/Restaurants-g189541-c10646-Copenhagen_Zealand.html">Fast Food</a>, <a href="/Restaurants-g189541-c3-Copenhagen_Zealand.html">Asian</a></div>
pr = ['$']

url = /Restaurant_Review-g186338-d12391114-Reviews-Lahori_Tikka_Masala-London_England.html
string = None
url = /Restaurant_Review-g187147-d7332770-Reviews-Chez_Kim_Ly-Paris_Ile_de_France.html
string = <div class="header_links"><a href="/Restaurants-g187147-Paris_Ile_de_France.html?pid=1">$</a>, <a href="/Restaurants-g187147-c3-Paris_Ile_de_France.html">Asian</a>, <a href="/Restaurants-g187147-c41-Paris_Ile_de_France.html">Vietnamese</a></div>
pr = ['$']

url = /Restaurant_Review-g187514-d697485-Reviews-Casa_Santa_Cruz-Madrid.html
string = None
url = /Restaurant_Review-g187147-d1035491-Reviews-Le_Kaiku-Paris_Ile_de_France.html
string = None
url = /Restaurant_Review-g186338-d12676684-Reviews-The_German_Deli-London_England.html
string = <div class="header_links"><a href="/Restaurants-g186338-London_England.html?pid=1">$</a>, <a href="/Restaurants-g186338-zfg16548-London_England.html">Specialty Food Market</a>, <a href="/Restaurants-g186338-c13-London_England.html">Deli</a>, <a href="/Restaurants-g186338-c21-London_England.html">German</a></div>
pr = ['$']

url = /Restaurant_Review-g274856-d11770289-Reviews-Bar_Hoa_Lan-Warsaw_Mazovia_Province_Central_Poland.html
string = None
url = /Restaurant_Review-g274887-d10073699-Reviews-Fozelekfalo_Food_Bar-Budapest_Central_Hungary.html
string = <div class="header_links"><a href="/Restaurants-g274887-Budapest_Central_Hungary.html?pid=1">$</a>, <a href="/Restaurants-g274887-c18-Budapest_Central_Hungary.html">European</a>, <a href="/Restaurants-g274887-c10750-Budapest_Central_Hungary.html">Hungarian</a></div>
pr = ['$']

url = /Restaurant_Review-g187147-d11687952-Reviews-Lula-Paris_Ile_de_France.html
string = <div class="header_links"><a href="/Restaurants-g187147-Paris_Ile_de_France.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g187147-zfz10665-Paris_Ile_de_France.html">Vegetarian Friendly</a>, <a href="/Restaurants-g187147-zfz10697-Paris_Ile_de_France.html">Vegan Options</a>, <a href="/Restaurants-g187147-zfz10992-Paris_Ile_de_France.html">Gluten Free Options</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g187849-d12911907-Reviews-Panificio_Reda-Milan_Lombardy.html
string = None
url = /Restaurant_Review-g186605-d7805333-Reviews-Biscotti_Caffe-Dublin_County_Dublin.html
string = None
url = /Restaurant_Review-g189934-d3345223-Reviews-Rice_Garden-Helsinki_Uusimaa.html
string = <div class="header_links"><a href="/Restaurants-g189934-c27-Helsinki_Uusimaa.html">Japanese</a>, <a href="/Restaurants-g189934-c38-Helsinki_Uusimaa.html">Sushi</a>, <a href="/Restaurants-g189934-c3-Helsinki_Uusimaa.html">Asian</a></div>
pr = []

url = /Restaurant_Review-g188590-d10027275-Reviews-Samen-Amsterdam_North_Holland_Province.html
string = <div class="header_links"><a href="/Restaurants-g188590-Amsterdam_North_Holland_Province.html?pid=1">$</a>, Dutch, <a href="/Restaurants-g188590-c8-Amsterdam_North_Holland_Province.html">Cafe</a>, <a href="/Restaurants-g188590-c18-Amsterdam_North_Holland_Province.html">European</a></div>
pr = ['$']

url = /Restaurant_Review-g1136488-d5599563-Reviews-Le_Chalet_de_la_Foret-Uccle_Brussels.html
string = <div class="header_links"><a href="/Restaurants-g1136488-Uccle_Brussels.html?pid=8">$$$$</a>, <a href="/Restaurants-g1136488-c20-Uccle_Brussels.html">French</a>, <a href="/Restaurants-g1136488-c18-Uccle_Brussels.html">European</a></div>
pr = ['$$$$']

url = /Restaurant_Review-g187265-d7623654-Reviews-Creperie_Caramel_Sale-Lyon_Rhone_Auvergne_Rhone_Alpes.html
string = <div class="header_links"><a href="/Restaurants-g187265-Lyon_Rhone_Auvergne_Rhone_Alpes.html?pid=1">$</a>, <a href="/Restaurants-g187265-c20-Lyon_Rhone_Auvergne_Rhone_Alpes.html">French</a>, <a href="/Restaurants-g187265-zfz10665-Lyon_Rhone_Auvergne_Rhone_Alpes.html">Vegetarian Friendly</a></div>
pr = ['$']

url = /Restaurant_Review-g274707-d4768085-Reviews-McDonald_s_Florenc-Prague_Bohemia.html
string = <div class="header_links"><a href="/Restaurants-g274707-Prague_Bohemia.html?pid=1">$</a>, <a href="/Restaurants-g274707-zfg16556-Prague_Bohemia.html">Quick Bites</a>, <a href="/Restaurants-g274707-c10646-Prague_Bohemia.html">Fast Food</a></div>
pr = ['$']

url = /Restaurant_Review-g190454-d12350248-Reviews-Oskar-Vienna.html
string = <div class="header_links"><a href="/Restaurants-g190454-c26-Vienna.html">Italian</a></div>
pr = []

url = /Restaurant_Review-g274887-d13197631-Reviews-Le_Poulet-Budapest_Central_Hungary.html
string = <div class="header_links"><a href="/Restaurants-g274887-Budapest_Central_Hungary.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g274887-c20-Budapest_Central_Hungary.html">French</a>, <a href="/Restaurants-g274887-c18-Budapest_Central_Hungary.html">European</a>, <a href="/Restaurants-g274887-c10750-Budapest_Central_Hungary.html">Hungarian</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g189158-d8772965-Reviews-Lamosa_Grill-Lisbon_Lisbon_District_Central_Portugal.html
string = <div class="header_links"><a href="/Restaurants-g189158-c18-Lisbon_Lisbon_District_Central_Portugal.html">European</a>, <a href="/Restaurants-g189158-c10680-Lisbon_Lisbon_District_Central_Portugal.html">Portuguese</a></div>
pr = []

url = /Restaurant_Review-g187849-d6632829-Reviews-Don_Tannino_Bar_a_Vin-Milan_Lombardy.html
string = None
url = /Restaurant_Review-g187514-d11667577-Reviews-Restaurante_Playa_Riazor-Madrid.html
string = None
url = /Restaurant_Review-g187791-d11951657-Reviews-Ventitre-Rome_Lazio.html
string = <div class="header_links"><a href="/Restaurants-g187791-c26-Rome_Lazio.html">Italian</a></div>
pr = []

url = /Restaurant_Review-g274924-d7995801-Reviews-Slovak_Pubs-Bratislava_Bratislava_Region.html
string = <div class="header_links"><a href="/Restaurants-g274924-Bratislava_Bratislava_Region.html?pid=6">$$ - $$$</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g187265-d1328183-Reviews-Restaurant_Golbasi-Lyon_Rhone_Auvergne_Rhone_Alpes.html
string = None
url = /Restaurant_Review-g186338-d10392913-Reviews-Aqua_London-London_England.html
string = <div class="header_links"><a href="/Restaurants-g186338-London_England.html?pid=6">$$ - $$$</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g187849-d7967318-Reviews-Trattoria_la_Madonnina_di_Costantino_Cuciniello_Precotto-Milan_Lombardy.html
string = <div class="header_links"><a href="/Restaurants-g187849-Milan_Lombardy.html?pid=1">$</a>, <a href="/Restaurants-g187849-c26-Milan_Lombardy.html">Italian</a>, <a href="/Restaurants-g187849-zfz10665-Milan_Lombardy.html">Vegetarian Friendly</a></div>
pr = ['$']

url = /Restaurant_Review-g187147-d12681857-Reviews-Epicerie_et_Associes-Paris_Ile_de_France.html
string = <div class="header_links"><a href="/Restaurants-g187147-Paris_Ile_de_France.html?pid=1">$</a>, <a href="/Restaurants-g187147-c20-Paris_Ile_de_France.html">French</a>, <a href="/Restaurants-g187147-c18-Paris_Ile_de_France.html">European</a></div>
pr = ['$']

url = /Restaurant_Review-g187147-d13094972-Reviews-Love_Juice_Bar-Paris_Ile_de_France.html
string = <div class="header_links"><a href="/Restaurants-g187147-zfz10665-Paris_Ile_de_France.html">Vegetarian Friendly</a></div>
pr = []

url = /Restaurant_Review-g274924-d4770241-Reviews-Olive_Tree_Restaurant-Bratislava_Bratislava_Region.html
string = <div class="header_links"><a href="/Restaurants-g274924-c23-Bratislava_Bratislava_Region.html">Greek</a></div>
pr = []

url = /Restaurant_Review-g186338-d7994738-Reviews-Slim_Jim_s_Liquor_Store-London_England.html
string = <div class="header_links"><a href="/Restaurants-g186338-London_England.html?pid=1">$</a></div>
pr = ['$']

url = /Restaurant_Review-g187147-d3612769-Reviews-Bubbolitas-Paris_Ile_de_France.html
string = <div class="header_links"><a href="/Restaurants-g187147-Paris_Ile_de_France.html?pid=1">$</a></div>
pr = ['$']

url = /Restaurant_Review-g187514-d4600226-Reviews-Cafeteria_Teresa-Madrid.html
string = <div class="header_links"><a href="/Restaurants-g187514-c36-Madrid.html">Spanish</a></div>
pr = []

url = /Restaurant_Review-g187497-d5867903-Reviews-Fer_El_Cafe-Barcelona_Catalonia.html
string = None
url = /Restaurant_Review-g274924-d12111665-Reviews-Vespa_Caffeterria-Bratislava_Bratislava_Region.html
string = <div class="header_links"><a href="/Restaurants-g274924-Bratislava_Bratislava_Region.html?pid=1">$</a>, <a href="/Restaurants-g274924-c8-Bratislava_Bratislava_Region.html">Cafe</a></div>
pr = ['$']

url = /Restaurant_Review-g187147-d5058767-Reviews-CHOI_SUN_Kokiri-Paris_Ile_de_France.html
string = <div class="header_links"><a href="/Restaurants-g187147-Paris_Ile_de_France.html?pid=1">$</a>, <a href="/Restaurants-g187147-c3-Paris_Ile_de_France.html">Asian</a>, <a href="/Restaurants-g187147-c10661-Paris_Ile_de_France.html">Korean</a></div>
pr = ['$']

url = /Restaurant_Review-g189852-d12949592-Reviews-Gandhi_Grondal-Stockholm.html
string = <div class="header_links"><a href="/Restaurants-g189852-c24-Stockholm.html">Indian</a></div>
pr = []

url = /Restaurant_Review-g190454-d12556149-Reviews-Ra_mien-Vienna.html
string = None
url = /Restaurant_Review-g187323-d11999809-Reviews-Lehrter_Cafe-Berlin.html
string = <div class="header_links"><a href="/Restaurants-g187323-c20-Berlin.html">French</a>, <a href="/Restaurants-g187323-c8-Berlin.html">Cafe</a>, <a href="/Restaurants-g187323-c22-Berlin.html">International</a></div>
pr = []

url = /Restaurant_Review-g950786-d11995686-Reviews-Atelier_du_Sushi-Schaerbeek_Brussels.html
string = None
url = /Restaurant_Review-g187147-d13284434-Reviews-Soleil_Levant-Paris_Ile_de_France.html
string = <div class="header_links"><a href="/Restaurants-g187147-Paris_Ile_de_France.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g187147-c27-Paris_Ile_de_France.html">Japanese</a>, <a href="/Restaurants-g187147-c3-Paris_Ile_de_France.html">Asian</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g187147-d10336129-Reviews-L_Annexe-Paris_Ile_de_France.html
string = <div class="header_links"><a href="/Restaurants-g187147-Paris_Ile_de_France.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g187147-c20-Paris_Ile_de_France.html">French</a>, Bar, <a href="/Restaurants-g187147-c8-Paris_Ile_de_France.html">Cafe</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g274887-d10498197-Reviews-Pizza_Escobar-Budapest_Central_Hungary.html
string = None
url = /Restaurant_Review-g187331-d2722599-Reviews-Black_Bean-Hamburg.html
string = <div class="header_links"><a href="/Restaurants-g187331-c8-Hamburg.html">Cafe</a>, Contemporary</div>
pr = []

url = /Restaurant_Review-g187323-d12068247-Reviews-Kaffchen-Berlin.html
string = None
url = /Restaurant_Review-g189158-d10520643-Reviews-Prego_Gourmet_Lda-Lisbon_Lisbon_District_Central_Portugal.html
string = <div class="header_links"><a href="/Restaurants-g189158-Lisbon_Lisbon_District_Central_Portugal.html?pid=1">$</a>, <a href="/Restaurants-g189158-c10646-Lisbon_Lisbon_District_Central_Portugal.html">Fast Food</a>, <a href="/Restaurants-g189158-c18-Lisbon_Lisbon_District_Central_Portugal.html">European</a>, <a href="/Restaurants-g189158-c10680-Lisbon_Lisbon_District_Central_Portugal.html">Portuguese</a></div>
pr = ['$']

url = /Restaurant_Review-g187323-d2424319-Reviews-Focolare-Berlin.html
string = <div class="header_links"><a href="/Restaurants-g187323-c26-Berlin.html">Italian</a></div>
pr = []

url = /Restaurant_Review-g186338-d10677156-Reviews-Bombay_Spice-London_England.html
string = <div class="header_links"><a href="/Restaurants-g186338-London_England.html?pid=1">$</a>, <a href="/Restaurants-g186338-c24-London_England.html">Indian</a>, <a href="/Restaurants-g186338-c3-London_England.html">Asian</a>, <a href="/Restaurants-g186338-zfz10665-London_England.html">Vegetarian Friendly</a></div>
pr = ['$']

url = /Restaurant_Review-g187514-d9562461-Reviews-Ottawa_Burger-Madrid.html
string = <div class="header_links"><a href="/Restaurants-g187514-Madrid.html?pid=6">$$ - $$$</a>, <a href="/Restaurants-g187514-c2-Madrid.html">American</a>, <a href="/Restaurants-g187514-c10646-Madrid.html">Fast Food</a></div>
pr = ['$$ - $$$']

url = /Restaurant_Review-g189158-d5979704-Reviews-Pastelaria_Anaflor-Lisbon_Lisbon_District_Central_Portugal.html
string = None
url = /Restaurant_Review-g189158-d13139218-Reviews-Cafe_Cunha-Lisbon_Lisbon_District_Central_Portugal.html
string = None
url = /Restaurant_Review-g189158-d3193915-Reviews-A_pestiqueria_da_estrela-Lisbon_Lisbon_District_Central_Portugal.html
string = <div class="header_links"><a href="/Restaurants-g189158-c18-Lisbon_Lisbon_District_Central_Portugal.html">European</a>, <a href="/Restaurants-g189158-c10680-Lisbon_Lisbon_District_Central_Portugal.html">Portuguese</a></div>
pr = []

KeyboardInterrupt:

In [ ]:
pr = t_df[t_df['Price Range'].isnull()]['Price Range'].fillna(0)

for item in pr:
    print(item)

In [68]:
t_df[t_df['Price Range'].isnull()]

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
5,id_1418,Oporto,NaN,1419.0,3.0,NaN,2.0,"[['There are better 3 star hotel bars', 'Amazi...",/Restaurant_Review-g189180-d12503536-Reviews-D...,d12503536
7,id_825,Bratislava,['Italian'],826.0,3.0,NaN,9.0,"[['Wasting of money', 'excellent cuisine'], ['...",/Restaurant_Review-g274924-d3199765-Reviews-Ri...,d3199765
8,id_2690,Vienna,NaN,2692.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g190454-d12845029-Reviews-G...,d12845029
10,id_6578,Barcelona,NaN,6579.0,3.0,NaN,6.0,"[[], []]",/Restaurant_Review-g187497-d10696479-Reviews-R...,d10696479
16,id_5257,Berlin,"['Japanese', 'Asian', 'Thai', 'Vietnamese']",5259.0,4.0,NaN,3.0,"[['This is a real hidden Sushi-gem'], ['04/12/...",/Restaurant_Review-g187323-d10266473-Reviews-A...,d10266473
21,id_5844,Madrid,NaN,5847.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g187514-d10058810-Reviews-B...,d10058810
26,id_2763,Madrid,NaN,2765.0,5.0,NaN,11.0,"[['Heavenly meat slices and craft beer too.'],...",/Restaurant_Review-g187514-d10060659-Reviews-G...,d10060659
27,id_2108,Budapest,NaN,2109.0,3.5,NaN,2.0,"[['Good value canteen lunch stop.'], ['01/26/2...",/Restaurant_Review-g274887-d11616946-Reviews-P...,d11616946
28,id_10057,Paris,NaN,10059.0,4.5,NaN,4.0,"[['Fab Food'], ['08/20/2011']]",/Restaurant_Review-g187147-d2040769-Reviews-Le...,d2040769
29,id_8349,Madrid,NaN,8356.0,2.5,NaN,16.0,"[[], []]",/Restaurant_Review-g187514-d5776152-Reviews-Ar...,d5776152
30,id_1841,Copenhagen,NaN,1846.0,3.0,NaN,16.0,"[['Lack of communication', 'We Liked the Buffe...",/Restaurant_Review-g189541-d11841754-Reviews-C...,d11841754
32,id_1327,Budapest,NaN,1328.0,5.0,NaN,NaN,"[['Absolutely amazing, tasty, fresh, cheap Ch....",/Restaurant_Review-g274887-d8791087-Reviews-Bu...,d8791087
33,id_2434,Lyon,['Vietnamese'],2435.0,3.0,NaN,4.0,"[[], []]",/Restaurant_Review-g187265-d3543959-Reviews-Vi...,d3543959
39,id_3131,Milan,NaN,3133.0,4.0,NaN,7.0,"[['A great place to enjoy Milan'], ['05/12/201...",/Restaurant_Review-g187849-d12447161-Reviews-L...,d12447161
44,id_2192,Lisbon,['Japanese'],2195.0,4.0,NaN,7.0,"[[], []]",/Restaurant_Review-g189158-d5981466-Reviews-Ay...,d5981466
45,id_11945,London,['Pizza'],11955.0,4.0,NaN,3.0,"[['Traditional Eastend Pub', 'Cool historic pu...",/Restaurant_Review-g186338-d7276832-Reviews-Du...,d7276832
46,id_8460,Madrid,['Italian'],8467.0,2.0,NaN,4.0,"[[], []]",/Restaurant_Review-g187514-d12550964-Reviews-G...,d12550964
50,id_1907,Copenhagen,"['Chinese', 'Fast Food']",1912.0,2.5,NaN,9.0,"[['Okay for quick cheap light lunch', 'Not ok ...",/Restaurant_Review-g189541-d5408595-Reviews-Ch...,d5408595
51,id_10142,London,NaN,10151.0,4.0,NaN,5.0,[['Top class service and Food by New Manageme....,/Restaurant_Review-g186338-d12391114-Reviews-L...,d12391114
52,id_9231,Paris,"['French', 'Vietnamese']",9233.0,4.0,NaN,25.0,"[[], []]",/Restaurant_Review-g187147-d7332770-Reviews-Ch...,d7332770
57,id_5510,Madrid,NaN,5513.0,4.5,NaN,6.0,"[['Business lunch spot'], ['04/13/2012']]",/Restaurant_Review-g187514-d697485-Reviews-Cas...,d697485
59,id_10032,Paris,NaN,10034.0,4.5,NaN,2.0,"[[], []]",/Restaurant_Review-g187147-d1035491-Reviews-Le...,d1035491
60,id_8755,London,NaN,8764.0,4.5,NaN,4.0,"[['Tasty bratwurst', 'Fab Bratwurst'], ['12/21...",/Restaurant_Review-g186338-d12676684-Reviews-T...,d12676684
61,id_1620,Warsaw,NaN,1622.0,4.0,NaN,2.0,"[[], []]",/Restaurant_Review-g274856-d11770289-Reviews-B...,d11770289
65,id_1981,Budapest,NaN,1982.0,3.5,NaN,8.0,"[['Good cooked food selfservise restaurant', '...",/Restaurant_Review-g274887-d10073699-Reviews-F...,d10073699
68,id_8648,Paris,NaN,8650.0,4.5,NaN,3.0,"[[], []]",/Restaurant_Review-g187147-d11687952-Reviews-L...,d11687952
73,id_6029,Milan,NaN,6032.0,2.5,NaN,2.0,"[[], []]",/Restaurant_Review-g187849-d12911907-Reviews-P...,d12911907
75,id_1247,Dublin,NaN,1250.0,5.0,NaN,3.0,"[['Great service', 'Perfect breakfast'], ['04/...",/Restaurant_Review-g186605-d7805333-Reviews-Bi...,d7805333
...,...,...,...,...,...,...,...,...,...,...
39887,id_1793,Warsaw,"['American', 'Polish', 'European']",1795.0,4.0,NaN,5.0,"[['Nice service', 'Bad Food, Bad Price'], ['07...",/Restaurant_Review-g274856-d6523244-Reviews-22...,d6523244
39888,id_5907,Rome,['Pizza'],5909.0,4.0,NaN,60.0,"[[], []]",/Restaurant_Review-g187791-d7106787-Reviews-Pe...,d7106787
39898,id_4003,Milan,NaN,4006.0,3.5,NaN,16.0,"[[], []]",/Restaurant_Review-g187849-d11929447-Reviews-K...,d11929447
39902,id_5613,Berlin,NaN,5615.0,3.5,NaN,6.0,"[['Little nice good but not enough', 'A little...",/Restaurant_Review-g187323-d1347989-Reviews-Sc...,d1347989
39907,id_1603,Edinburgh,NaN,1609.0,3.0,NaN,NaN,"[['Small, Friendly Place on the Mile'], ['11/1...",/Restaurant_Review-g186525-d8814420-Reviews-Bi...,d8814420
39908,id_843,Hamburg,NaN,845.0,4.5,NaN,15.0,"[[], []]",/Restaurant_Review-g187331-d5558314-Reviews-Zo...,d5558314
39909,id_13452,Paris,NaN,13454.0,2.0,NaN,11.0,[['A Little Rest After Our Stroll Through The....,/Restaurant_Review-g187147-d1977583-Reviews-L_...,d1977583
39912,id_1945,Hamburg,NaN,1949.0,4.0,NaN,15.0,"[['not recommended', 'Below Average'], ['05/23...",/Restaurant_Review-g187331-d5607812-Reviews-Di...,d5607812
39914,id_3545,Berlin,NaN,3547.0,5.0,NaN,3.0,"[['Home away from home', 'Hidden Gem'], ['04/2...",/Restaurant_Review-g187323-d9781456-Reviews-Pi...,d9781456
39916,id_2342,Hamburg,NaN,2346.0,3.5,NaN,3.0,"[[], []]",/Restaurant_Review-g187331-d12593957-Reviews-C...,d12593957
39918,id_15736,London,NaN,15748.0,3.0,NaN,3.0,"[['dont waste your money - take away menue', ""...",/Restaurant_Review-g186338-d5079290-Reviews-Th...,d5079290
39923,id_5659,Madrid,NaN,5662.0,4.0,NaN,7.0,"[[], []]",/Restaurant_Review-g187514-d5609006-Reviews-La...,d5609006
39934,id_11032,London,NaN,11042.0,4.5,NaN,2.0,"[['Nice Fry-Up', 'Pretty much the best budget ...",/Restaurant_Review-g186338-d12458176-Reviews-C...,d12458176
39935,id_5826,Barcelona,NaN,5827.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g187497-d12977288-Reviews-G...,d12977288
39937,id_7152,London,['Sushi'],7161.0,5.0,NaN,7.0,"[['Charming Japanese, true to its origin', 'Su...",/Restaurant_Review-g186338-d11966513-Reviews-R...,d11966513
39941,id_365,Rome,NaN,366.0,5.0,NaN,108.0,"[[], []]",/Restaurant_Review-g187791-d12222848-Reviews-P...,d12222848
39946,id_6121,Barcelona,"['Latin', 'Bar', 'Spanish', 'Pub']",6122.0,3.5,NaN,4.0,"[[], []]",/Restaurant_Review-g187497-d12714036-Reviews-B...,d12714036
39947,id_276,Bratislava,NaN,277.0,5.0,NaN,9.0,"[['A great lunch stop', 'Not expensive and tas...",/Restaurant_Review-g274924-d4769868-Reviews-St...,d4769868
39953,id_2385,Brussels,NaN,2386.0,3.5,NaN,5.0,"[['exotic', 'Early evening meal'], ['10/21/201...",/Restaurant_Review-g188644-d8475892-Reviews-La...,d8475892
39960,id_3989,Prague,"['European', 'Czech']",4000.0,1.5,NaN,3.0,"[['Time saver for the castle', 'Tourist trap.....",/Restaurant_Review-g274707-d7653680-Reviews-Ca...,d7653680
39965,id_5720,Rome,NaN,5722.0,5.0,NaN,NaN,"[[], []]",/Restaurant_Review-g187791-d793376-Reviews-Wes...,d793376
39975,id_2323,Lisbon,NaN,2326.0,4.5,NaN,3.0,"[[], []]",/Restaurant_Review-g189158-d6988056-Reviews-Re...,d6988056
39981,id_924,Lyon,NaN,925.0,4.0,NaN,29.0,"[[], []]",/Restaurant_Review-g187265-d5850306-Reviews-Re...,d5850306
39983,id_2487,Amsterdam,NaN,2494.0,4.5,NaN,2.0,"[['Italian food, as in Italy!'], ['05/24/2015']]",/Restaurant_Review-g188590-d8120959-Reviews-Sa...,d8120959
39986,id_7274,Madrid,NaN,7279.0,3.0,NaN,NaN,"[[], []]",/Restaurant_Review-g187514-d12182212-Reviews-C...,d12182212
39988,id_4968,Berlin,NaN,4970.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g187323-d7761701-Reviews-Ar...,d7761701
39989,id_8887,London,['International'],8896.0,5.0,NaN,NaN,"[['I love this place!'], ['08/24/2015']]",/Restaurant_Review-g186338-d5550626-Reviews-Th...,d5550626
39990,id_1187,Oporto,"['European', 'Portuguese']",1188.0,4.5,NaN,14.0,"[['Traditional ""home cooked"" food for an ""eco....",/Restaurant_Review-g189180-d3612719-Reviews-D_...,d3612719
39993,id_6057,Paris,NaN,6058.0,4.0,NaN,16.0,"[['Naught but VERY nice', 'Yum'], ['01/23/2017...",/Restaurant_Review-g187147-d10532509-Reviews-B...,d10532509
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615